.challange-container {
  margin-left: 16%;
  /*width: 100%;*/
  /*height: 100%;*/
}

.challange-friend {
  float:none;
  margin: 0 auto;
  bottom: 10px;
  height: 45px;
  width: 250px;
}

.button-challange-friend {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: 1px transparent;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 18px;
  color: #FFF;
  background-color: #337AB7;
  border-radius: 8px;
  cursor: pointer;
}

.button-challange-friend:hover {
  background-color: #286090;
  color: #FFF;
}

.challanges {
  margin: 0 20%;
  background: white;
  border-radius: 4px;
}

.challanges__header {
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  text-align: center;
  color: #0B0882;
}

.challanges__body {
  padding: 20px;
  overflow: auto;
  height: 80%;
}

.status {
  width: 100%;
  height: 20px;
  background-color: #ffec5c;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

.challenge-won {
  background-color: #4cae4c;
}

.challenge-lose {
  background-color: #d43f3a;
}

.challenge-play {
  background-color: #337AB7;
}

.btn-igraj-chal {
  width: 60px;
  height: 25px;
  font-size: 12px;
  padding: 5px !important;
  float: none;
  margin:0 auto;
  }

@media (max-height: 800px) {
  .challanges__body {
    height: 50%;
  }
}