* {
    font-family: 'Lato', Verdana;
}

.podrucje{
    height:80px;
    /*padding-top: 20px;*/
    /*padding-left: 3%;*/
    margin-bottom: 20px;
    /*border-radius: 15%;*/
    max-width: 50% !important;
    font-weight: 500;
    font-size: large;
    min-width: 266.67px;
    display: block;
}

.podrucjeimg {
    line-height: 80px;
    width: 30%;
    margin: 0px 0px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
}

.podrucjetxt {
    line-height: 80px;
    width: 70%;
    text-align: center !important;
    /*margin: 0px 0px;*/
    display: inline-block;
    height: 80px;
    min-width: 120px;
}

@media (max-width: 870px) {
    .podrucje{width: 80px; min-width: 80px;}
    .podrucjetxt{
        display: none;
    }
    .podrucjeimg {
        width: 70px;
        height: 70px;
    }
}

@media (max-height: 800px) {
    .podrucje{
        padding-left: 0;
    }
}

.izborWrap{
    position: absolute;
    left: 40% !important;
    width: 50% !important;
    top: 40% !important;
}
.slika{
    position: relative;
    background-image: url('../image/naslovna200.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    left: -19px;
}
.home{
    background-color: #000033;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: #000033 !important;
}

a:hover{
    text-decoration: none;
    color: #000033 !important; ;
}

a:visited{
    text-decoration: none !important;
    color:#000033 !important;
}

.blue-background {
    /*background-color: #000033;*/
    min-height: 100%;
    min-width: 100%;
    display: table;
    background-image: url('../image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    /*padding: 100px;*/
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000033;
}

.naslov{
    position: relative;
    left: 22%;
    margin-top: 3%;
    max-width: 55% !important;
}

