.navigation {
  position: absolute;
  width: 16%;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  min-width: 205.67px;
}

.navLearning {
  background-color: #e1315b;
}

.navPlay {
  background-color: #f47d4a;
}

.navChallenge {
  background-color: #ffec5c;
}

.nav__header {
  width: 100%;
  height: 140px;
  text-align: center;
}

#navHeaderLearn {
  background-color: #F5C2CE;
}

#navHeaderPlay {
  background-color: #FFC284;
}

#navHeaderChallenge {
  background-color: #FFF7B6;
}

.nav__link {
  height: 80px;
  /*padding-left: 10%;*/
  /*padding-top: 4%;*/
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  min-width: 205.67px;
  display: block;
}
.navimg{
  height: 80px;
  margin: 0px 0px;
  width: 25%;
  text-align: center;
  display: inline-block;
  line-height: 80px;
  min-width: 80px;

}
@media (max-width: 870px) {
  .nav__link{width: 80px; min-width: 80px;}
  .navigation{width: 80px; min-width: 80px;}
  .navtxt{
    display: none !important;
  }
  .navimg {
    width: 70px;
    height: 70px;
  }
  .logo{
    display: none !important;
  }
}
.navtxt{
  line-height: 80px;
  width: 55%;
  margin: 0px 0px;
  text-align: center !important;
  display: inline-block;
  height: 80px;
  min-width: 120px;
}

.nav__link:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .text {
    display: none;
  }

  .logo {
    display: none;
  }
}

.copyright-text {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  float: none;
  margin: 0 auto;
  text-align: center;
}