.info {
	margin-left: 14%;
	height: 80px;
	padding: 10px 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	visibility: hidden;
	background: rgba(34, 34, 152,0.5);
	margin-right: -14px;
}

.instructions {
	position: relative;
	width: 1000px;
	height: 300px;
	margin: auto;
}

.modal__init_div {
	padding: 20px;
	font-size: 18px;
}

.modal__init_div select {
	font-size: 14px;
	margin-left: 20px;
}

#btn-play-start {
	position: absolute;
	top: 300px;
	left: 47%;
	width: 200px;
}

.img-play {
	margin-left: 100px;
	width: 100%;
}

.correct {
	color: #228B22;
}

.wrong {
	color: #af1c1c;
}

.get_better {
	margin: 10px;
	color: #070438 !important;
}

.get_better a {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: underline; 
}



