.info {
	margin-left: 18%;
	height: 50px;
	padding: 10px 30px;
	color: white;
}

.instructions {
	position: relative;
	width: 700px;
	height: 200px;
	margin: auto;
}

.modal__init_div {
	padding: 20px;
	font-size: 18px;
}

.modal__init_div select {
	font-size: 14px;
	margin-left: 20px;
}

#btn-play-start {
	position: absolute;
	top: 200px;
	left: 56%;
}

.img-play {
	margin-left: 100px;
}

.correct {
	color: green;
}

.wrong {
	color: red;
}

.get_better {
	margin: 10px;
	color: #FFCC00;
}

.get_better a {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: underline; 
}



