<div id="navbar" class="navigation navChallenge">
    <a href="/"><div class="nav__header" id="navHeaderChallenge"><img src="../image/logo.png" width height="100px" class="logo"/></div></a>
    <a href="/"><div class="nav__link">
        <img src="../image/home.png" width="40px" height="40px"  style="display: inline;margin-right: 9%; margin-top: 2%"/><span class="text">Home</span></div></a>
    <a href="/learning"><div class="nav__link">
        <img src="../image/knjiga.png" width="50px" height="30px"  style="display: inline;margin-right: 9%; margin-top: 2%"/><span class="text">Learning</span></div></a>
    <a href="/play"><div class="nav__link">
        <img src="../image/smiley-face-png-96527038_o-901x891.png" width="40px" height="40px" style="display: inline;margin-right: 5%"/><span class="text">Anonymous game</span></div></a>
    <a href="/challange"><div class="nav__link" style="background-color: #FFF7B6">
        <img src="../image/multi.png" width="50px" height="50px" style="display: inline;margin-right: 5%"/><span class="text">Challenge a friend</span></div></a>
</div>