<div id="navbar" class="navigation navChallenge">
  <a href="/">
    <div class="nav__header" id="navHeaderChallenge"><img src="../image/logo.png" width height="90%" class="logo"/>
    </div>
  </a>
  <a href="/">
    <div class="nav__link">
      <div class="navimg"><img src="../image/kuca.png" width="80%" height="80%" style="display: inline;"/></div>
      <span class="navtxt">Home</span>
    </div>
  </a>
  <a href="/learning">
    <div class="nav__link">
      <div class="navimg"><img src="../image/knjiga.png" width="80%" height="80%" style="display: inline;"/></div>
      <span class="navtxt">Learning</span>
    </div>
  </a>
  <a href="/play">
    <div class="nav__link">
      <div class="navimg"><img src="../image/singleplayer.png" width="80%" height="80%" style="display: inline;"/></div>
      <span class="navtxt">Singleplayer</span>
    </div>
  </a>
  <a href="#">
    <div class="nav__link" style="background-color: #FFF7B6">
      <div class="navimg"><img src="../image/multiplayer.png" width="80%" height="80%" style="display: inline;"/></div>
      <span class="navtxt">Multiplayer</span>
    </div>
  </a>
  <div class="copyright-text">&copy; &nbsp;DoraEksplora</div>
</div>