<style>
  .panel-404 {
    float:none;
    margin: 0 auto;
    margin-top: 100px;
    background-color: whitesmoke;
    width: 330px;
    height: 320px;
    text-align: center;
    padding: 10px;
    color: #0B0882;
    box-shadow: #000033 1px 1px;
  }

  .btn-404 {
    padding: 15px;
    height: 50px;
    width: 120px;
    border: none;
    color: #435565;
    font-weight: bold;
  }

  .home-404, .home-404:hover, .home-404:after, .home-404:focus {
    background-color: #0B0882 !important;
    color: #606774 !important;
  }

  .learning-404, .learning-404:hover, .learning-404:after, .learning-404:focus{
    background-color: #e1315b !important;
    color: #435565 !important;
  }

  .play-404, .play-404:hover, .play-404:active, .play-404:focus {
    background-color: #f47d4a !important;
    color: #435565 !important;
  }

  .multi-404, .multi-404:hover, .multi-404:active, .multi-404:focus {
    background-color: #ffec5c !important;
    color: #435565 !important;
  }

</style>

<div class="blue-background">
  <div class="panel-404">
    <a href="/"><img src="../image/logo.png" width="100px"/></a>
    <h2 style="margin-top: -5px">404 Page</h2>
    <h4>Something went wrong!</h4><br />
    <div>
      <a href="/"><div class="btn btn-success btn-404 home-404">Home</div></a>
      <a href="/learning"><div class="btn btn-success btn-404 learning-404">Learning</div></a><br /><br />
      <a href="/play"><div class="btn btn-success btn-404 play-404">Singleplayer</div></a>
      <a href="/login"><div class="btn btn-success btn-404 multi-404">Multiplayer</div></a>
    </div>
  </div>
</div>