<script>

  showFriendUsernameModal = function () {
    $document.append();
  }

</script>

<div class="blue-background">
  <div class="challange-container">
    <div class="col-lg-8 col-xs-12 challange-friend button-challange-friend" onclick="showFriendUsernameModal()">CHALLANGE A FRIEND</div>
  </div>
  {{> navbarChallenge}}
</div>


