<div class="container blue-background">
  {{> navbarChallenge}}
  <div style="margin-left: 18%">
    <div class="col-lg-8 col-xs-12 col-centered challange-friend">
      <div class="btn btn-primary btn-lg">CHALLANGE A FRIEND</div>
    </div>
  </div>
</div>


