<div class="container blue-background">
  <img src="../image/naslovna200.png" class="img-responsive naslov">

  <div class="container izborWrap">
    <div class="row row-centered pos">
      <div class="col-lg-8 col-xs-12 col-centered">
        <a href="/learning">
          <div class="podrucje" style="background-color: #e1315b;">
            <img src="../image/knjiga.png" width="60px" height="50px"
                 style="display: inline;margin-right: 9%;margin-bottom: 2%"/><span class="text"> LEARNING</span>
          </div>
        </a>
      </div>
      <div class="col-lg-8 col-xs-12 col-centered">
        <a href="/play">
          <div class="podrucje" style="background-color: #f47d4a;">
            <img src="../image/smiley-face-png-96527038_o-901x891.png" width="50px" height="50px"
                 style="display: inline;margin-right: 5%"/><span class="text"> SINGLEPLAYER</span>
          </div>
        </a>
      </div>
      <div class="col-lg-8 col-xs-12 col-centered">
        <a href="/challange">
          <div class="podrucje" style="background-color: #ffec5c;">
            <img src="../image/multi.png" width="60px" height="50px"
                 style="display: inline;margin-right: 5%"/><span class="text"> MULTIPLAYER</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>