<div class="container blue-background">
  <img src="../image/naslovna.png" class="img-responsive naslov">

  <div class="container izborWrap">
    <div class="row row-centered pos">
      <div class="col-lg-8 col-xs-12 col-centered">
        <a href="/learning">
          <div class="podrucje" style="background-color: #e1315b;overflow: hidden">
              <div class="podrucjeimg"><img src="../image/knjiga.png" width="80%" height="80%" style="display: inline;"/></div><span class="podrucjetxt">LEARNING</span>
          </div>
        </a>
      </div>
      <div class="col-lg-8 col-xs-12 col-centered">
        <a href="/play">
          <div class="podrucje" style="background-color: #f47d4a;overflow: hidden">

              <div class="podrucjeimg"><img src="../image/singleplayer.png" width="80%" height="80%" style="display: inline;"/></div><span class="podrucjetxt">SINGLEPLAYER</span>
          </div>
        </a>
      </div>
      <div class="col-lg-8 col-xs-12 col-centered">
        <a href="/login">
          <div class="podrucje" style="background-color: #ffec5c;overflow: hidden">
              <div class="podrucjeimg"><img src="../image/multiplayer.png" width="80%" height="80%" style="display: inline;"/></div><span class="podrucjetxt">MULTIPLAYER</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>