<!--<div class="home">-->
  <!--<div class="slika"></div>-->
  <!--<div class="izbori">-->
    <!--<a href="/learning">-->
      <!--<div class="podrucje" style="background-color: #e1315b;margin-top: 20%">LEARNING</div>-->
    <!--</a>-->
    <!--<a href="/play">-->
      <!--<div class="podrucje" style="background-color: #f47d4a">ANONYMOUS GAME</div>-->
    <!--</a>-->
    <!--<a href="/challange">-->
      <!--<div class="podrucje" style="background-color: #ffec5c">CHALLENGE A FRIEND</div>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->

<div class="container blue-background">
  <div class="background-image">
    <img src="../image/naslovna200.png">
  </div>
</div>