<div class="container blue-background">
    <img src="../image/naslovna200.png" class="img-responsive naslov">

    <div class="container izborWrap">
                <div class="row row-centered pos">
                    <div class="col-lg-8 col-xs-12 col-centered">
                        <a href="/learning">
                        <div class="podrucje" style="background-color: #e1315b;">
                            <img src="../image/knjiga.png" width="22%" height="22%" class="img-responsive" style="display: inline;margin-right: 9%; margin-top: 2%"/>  LEARNING</div>
                        </a>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-centered">
                        <a href="/play">
                        <div class="podrucje" style="background-color: #f47d4a;">
                            <img src="../image/smiley-face-png-96527038_o-901x891.png" width="15%" height="15%" class="img-responsive" style="display: inline;margin-right: 5%"/> ANONYMOUS GAME</div>
                        </a>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-centered">
                        <a href="/challange">
                        <div class="podrucje" style="background-color: #ffec5c;">
                            <img src="../image/multi.png" width="20%" height="20%" class="img-responsive" style="display: inline;margin-right: 5%"/>CHALLENGE A FRIEND</div>
                        </a>
                    </div>
                </div>
            </div>
</div>