{{> navbarLearning}}

<script type="text/javascript" src="../../globe/globe-script.js"></script>

<div id="modalLearning" class="modal fade" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    </div>
</div>

