<div class="container blue-background">
  <div class="login col-lg-8 col-xs-12 col-centered">
    <div class="title-login">
      <a href="/"><img src="../image/logo.png" width="130px"/></a>
      <h2 class="margin-0">Login</h2>
    </div>
    <form method="post" action="/challange">
      <div class="login-area">
        <input style="margin-bottom: 10px" class="input-login" type="text" name="username" placeholder="Username">
        <input class="input-login" type="password" name="password" placeholder="Password">
      </div>
      <div class="button-group">
        <a href="/"><div class="btn btn-danger btn-padding">Back</div></a>
        <button style="margin-left: 59px" type="submit" class="btn btn-success btn-padding">Login</button>
      </div>
    </form>
    <div class="registration-login">
      or register <a href="/registration"><span class="registration-link">here</span></a>
    </div>
    {{#if noLogin}}
      <div class="login-failed">
        Wrong username or password!
      </div>
    {{/if}}

  </div>
</div>